<html>
    <head>
        <!-- TODO: Meta Tags -->
        <meta charset="UTF-8">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/fontawesome.min.js">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="client/views/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script> 
            $(function(){
              $("#modalHTML").load("client/views/modal.html"); 
            });
        </script> 
	 
    </head>
    <body>
        <div id="modalHTML"></div>
        <div id="overlay">
            <div id="progressbar"></div>
            <div id="progressstatus"></div>
        </div>
		<canvas id="mapCanvas" width="600" height="300">
			<p>Unfortunately your browser is not supporting this web page.</p>
		</canvas>
		<canvas id="avatarCanvas" width="600" height="300">
			<p>Unfortunately your browser is not supporting this web page.</p>
		</canvas>
		<canvas id="uiCanvas" width="600" height="300">
			<p>Unfortunately your browser is not supporting this web page.</p>
        </canvas>
    <div class="row mt-2">
        <div class="d-flex flex-row-reverse col-12">
            <div class="d-flex flex-column">
                <form id="allchat" action="">
                    <input id="allchatMessageInput" autocomplete="off" /><button>>></button>
                </form>
            <div id="allchatMessages"></div>
        </div>
    </div>
</div>
        <nav class="navbar fixed-bottom navbar-expand-md navbar-light style="background-color: rgba(100, 100, 100, 0)">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"> 
                        <a class="action_button nav-item nav-link" href="/">
                            <i class="fa fa-bars fa-4x navbarIcons" style="margin-right: 25px;"></i>
                            <p class="navbarIconsText" style="margin-left: 6px;">Menu</p>
                        </a>
                    </li>
                    <li class="nav-item"> 
                        <a class="action_button nav-item nav-link" href="">
                            <i class="fa fa-globe fa-4x navbarIcons" style="margin-right: 25px;"></i>
                            <p class="navbarIconsText">Ranklist</p>
                        </a>
                    </li>
               
                    <li class="nav-item">
                        <a href="" onclick = "(new ScheduleListView()).onclick()" class="action_button nav-item nav-link" data-toggle="modal" data-target="#scheduleModal">
                        <i class="fa fa-table fa-4x navbarIcons"></i>
                        <p class="navbarIconsText" style="margin-left: -3px;">Schedule</p>
                    </a>
                    </li>
                </ul>
                <ul class="navbar nav ml-auto">
                    <li class="nav-item">
                        <a class="action_button nav-item nav-link" href="">
                            <i class="fa fa-star fa-4x navbarIcons"></i>
                            <p class="navbarIconsText" style="margin-left: -17px;">Achievement</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="action_button nav-item nav-link" href="">
                            <i class="fa fa-users fa-4x navbarIcons"></i>
                            <p class="navbarIconsText" style="margin-left: 0px;">Friendlist</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="action_button nav-item nav-link" href="">
                            <i class="fa fa-comments-o fa-4x navbarIcons"></i>
                            <p class="navbarIconsText" style="margin-left: 8px;">Chats</p>
                        </a>
                    </li>
                </ul>
        </nav>

        </div>
        
        <div class="lectureVideoWindow" id="lectureVideoWindow">
            <div class="container-fluid p-1">
                <div class="row">
                    <div class="lectureVideoHeader p-3 mb-3 d-flex align-items-center col-12">
                        <h5 class="ml-2" id="lectureTitleLabel"></h5><div class="ml-3" style="font-size: small; vertical-align: text-bottom;" id="lectureSpeakerLabel"></div>
                        <div class="self-align-end ml-auto pl-1 pr-1" id="closeButton"></div>
                    </div>
                </div>
                    
                        
                <div class="row pl-0 pr-1 mt-4">
                    <div class="d-flex flex-column col-7 mr-4 ml-3">
                        <video id="lectureVideo" width="100%" controls src=""></video>
                        <div class="d-flex flex-row mb-4 ml-4 mt-4 align-items-center">    

                        <div id="tokenIcon">         
                            
                        </div>  
                        <div>
                            <p class="ml-2 mt-1" id="tokenLabel"></p>
                        </div>
                    </div>
                    </div>
                    <div id="lectureChat" class="lectureChatContainer d-flex flex-column col-4 p-0 mr-1 mb-6">
                    
                    
                    <div class="lectureChatHeader">
                        <p class="mt-2" style="text-align: center; font-size: large;">Chat</p>
                    </div>
                    <div id="lectureChatMessages" style="height:300px; overflow-y: auto;" class="mr-2 ml-2">
                        <div>
                            <p style="font-size: small;">Donald Knuth, 14:14: <br> <span style="font-size: medium;">Hello</span>
                            </p>
                        </div>
                        <div>
                            <p style="font-size: small;">Robert Martin, 14:17: <br> <span style="font-size: medium;">Very interesting!</span>
                            </p>
                        </div>
                        <div>
                            <p style="font-size: small;">Donald Knuth, 14:19: <br> <span style="font-size: medium;">I have a question.</span>
                            </p>
                        </div>
                    </div>

                    <div id="lectureChatInput" class="input-group mb-3 mr-3 ml-2 mt-auto">
                        <input id="lectureChatInputGroup" type="text" style="background-color: #1b1e24; color: antiquewhite" class="form-control" placeholder="Enter message ...">
                        <div class="input-group-append">
                            <button id="lectureChatButton" class="btn btn-lecture mr-3" type="button">Send</button>
                        </div>
                    </div>
                    

                </div>
                </div> 
            
            </div>
            </div>
        </div>

        <div class="currentLecturesWindow" id="currentLectures">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12 p-0">
                        <div class="currentLecturesHeader p-3 mb-3 d-flex">
                            <h5>Current Lectures</h5>
                            <button class="ml-auto pl-1 pr-1" style="background-color: transparent !important; border-color: transparent !important; color: white; box-shadow: 0px 0px 0px transparent;" id="closeCurrentLecturesButton" type="button"><i class="fa fa-close"></i></button>
                        </div>
                    </div>
                    <div class="col-12">
                        <div id="currentLecturesContainer" class="row ml-1 mr-1">
                        
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
          
             
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script src="client/libraries/require.js"></script>
        <!--<script> const socket = io('http://localhost:5000'); </script>-->
        <script>
            requirejs(['client/utils/TypeChecker', 'client/models/DirectionClient', 'client/config/GameConfig', 'client/models/TypeOfRoomClient', 'client/models/RoomDimensionsClient.js', 'client/models/GameObjectTypeClient', 'client/models/BusinessCardClient', 'client/models/ParticipantClient', 
                        'client/models/PositionClient','client/models/GameObjectClient', 'client/models/RoomClient'], () => {
                requirejs(['client/views/js/Views', 'client/utils/Settings'], () => {
                    requirejs(['client/views/js/ImageLoader', 'client/views/js/CacheImages', 'client/utils/SpriteAnimation', 'client/utils/SpriteSheet'], () => {
                        requirejs(['client/views/js/WindowView','client/views/js/MapView', 'client/views/js/GameObjectView', 'client/views/js/GameObjectViewFactory', 'client/views/js/AvatarView', 'client/views/js/LoadingView'], () => {
                            requirejs(['client/views/js/ScheduleListView','client/views/js/FoyerView', 'client/views/js/FoodCourtView', 'client/views/js/ReceptionView', 'client/views/js/NPCAvatarView', 'client/views/js/ParticipantAvatarView', 'client/views/js/TileView', 'client/views/js/SelectedTileView', 'client/views/js/WallView', 'client/views/js/TableView', 'client/views/js/DoorView'], () => {
                                requirejs(['client/views/js/GameView', 'client/controller/ClientController', 'client/utils/EventManager'], () => {
                                    requirejs(['client/index'], () => {
                                    });    
                                });
                            });
                        });
                    });
                });
            });
        </script>
        <script>
            $(document).ready(() => {
                $('#closeCurrentLecturesButton').click(() => {
                    $('#currentLectures').hide();
                })
            })

            $(document).on('click', ".closeButton" , function() {
            $('#lectureVideoWindow').hide();
            eventManager = new EventManager();
            eventManager.handleLectureLeft(this.id);
            })



        </script>
    </body>
</html>
