<html>
    <head>
        <!-- TODO: Meta Tags -->
        <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    <body>
        <canvas id="canvas"></canvas>
             
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script src="../libraries/require.js"></script>
        <script>
            requirejs(['../utils/TypeChecker', '../models/TypeOfRoomClient', '../models/RoomDimensionsClient.js', '../models/GameObjectTypeClient', '../models/DirectionClient', '../models/ParticipantClient', 
                        '../models/PositionClient','../models/GameObjectClient', '../models/RoomClient'], () => {
                requirejs(['js/Views'], () => {
                    requirejs(['../utils/SpriteAnimation', '../utils/SpriteSheet'], () => {
                    requirejs(['js/MapView', 'js/GameObjectView', 'js/AvatarView'], () => {
                        requirejs(['js/FoyerView','js/map', 'js/NPCAvatarView', 'js/ParticipantAvatarView', 'js/TileView'], () => {
                            requirejs(['js/GameView', '../controller/ClientController'], () => {
                                requirejs(['../index'], () => {

                                    });
                                });
                            });
                        });
                    });
                });
            });
        </script>
        <!--<script type="text/javascript" src="../index.js"></script>-->
    </body>
</html>
