<html>
    <body>
        <div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="scheduleModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mw-100 w-75" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="scheduleModalTitle">Schedule</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <table id="schedule" class="table" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Orator Name</th>
                                <th scope="col">Starting Time</th>
                                <th scope="col">Seat Amount</th>
                                <th scope="col">Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>

        <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mw-100 w-50" role="document">
            <div class="modal-content">
                <div class="modal-header text-center d-block">
                </div>
                <div class="modal-body">
                </div>
            </div>
            </div>
        </div>

        <div class="modal fade" id="businessCardModal" tabindex="-1" role="dialog" aria-labelledby="businessCardModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mw-100 w-50" role="document">
            <div class="modal-content">
                <div class="modal-header text-center d-block">
                </div>
                <div class="modal-body">
                </div>
            </div>
            </div>
        </div>


    </body>
</html>
