<html>
    <head>
        <link rel="stylesheet" type="text/css" href="client/views/css/button.css">
    </head>
    <body>
        <div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="scheduleModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mw-100 w-75" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="scheduleModalTitle">Schedule</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <table id="schedule" class="table" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Orator Name</th>
                                <th scope="col">Starting Time</th>
                                <th scope="col">Seat Amount</th>
                                <th scope="col">Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>

        <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mw-100 w-50" role="document">
            <div class="modal-content">
                <div class="modal-header text-center d-block">
                </div>
                <div class="modal-body">
                </div>
            </div>
            </div>
        </div>

        <div class="modal fade" id="businessCardModal" tabindex="-1" role="dialog" aria-labelledby="businessCardModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mw-100 w-50" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="businessCardModalTitle">Business Card</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
            </div>
        </div>

        <div class="modal fade" id="npcStoryModal" tabindex="-1" role="dialog" aria-labelledby="npcStoryTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mw-100 w-50" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="npcStoryTitle">NPC Story</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
            </div>
        </div>

        <div class="modal fade" id="friendListModal" tabindex="-1" role="dialog" aria-labelledby="friendListModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mw-50 w-50" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <h5 class="modal-title" id="friendListModalTitle">Friend List</h5>
                    <div class = "dropdown" id="dropdownFriendRequestList">
                        <a class="action_button nav-item nav-link" href="" style="position: absolute; top: 0.5rem; right: 2rem;" role="button" id="dropdownFriendRequestList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-plus navbarIcons" style="transform: scale(0.8);"></i>
                        </a>

                        <script>
                            $('#dropdownFriendRequestList').on('show.bs.dropdown', function (event) {
                                new FriendRequestListView().onclick();
                            })

                            $('#dropdownFriendRequestList').on('hide.bs.dropdown', function () {
                                $('#friendListModal .modal-header .modal-title').empty()
                                $('#friendListModal .modal-header .modal-title').append(`Friend List`)
                            })
                        </script>

                        <div class="dropdown-menu dropdown-menu-right" style="margin-top: 57px; margin-left: 10px;" aria-labelledby="dropdownFriendRequestList">
                            <ul class ="list-group bg-transparent" style="margin-top: 8px">


                            </ul>
                        </div>

                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow: auto; height: 500px">
                    <ul class="list-group bg-transparent">
                        
                    </ul>
                </div>
            </div>
            </div>
        </div>

        <div class="modal fade" id="achievementsModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mw-100 w-50" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="achievementsModalTitle">Achievements</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container container-fluid">
                        <div class="row" id="achievementModalContent">
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="modal fade" id="rankListModal" tabindex="-1" role="dialog" aria-labelledby="rankListModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mw-100 w-75" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="rankListModalTitle">Rank List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <table id="rankList" class="table" style="width:100%">
                        <thead>
                            
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>

    </body>
</html>