* {
  margin: 0;
  padding: 0;
}

:root {
  --hr-color: rgba(0, 0, 0, .1);
  --black-color: rgb(15, 15, 15);
  --tosca-color: rgb(72, 148, 160);
  --red-color: rgb(254, 92, 54);
  --orange-color: rgb(255, 180, 73);
  --light-red-color: rgb(254, 92, 54, .3);
  --light-orange-color: rgb(255, 180, 73, .3);
  --light-tosca-color: rgb(72, 148, 160, .1);
  --grey-color: rgb(230, 230, 230);
  --footer-height: 35px;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  background: var(--black-color) url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  background-size: cover;
  color: var(--grey-color);
}

.navbar-dark .navbar-toggler {
  color: var(--grey-color);
  border-color: var(--grey-color);
}

.navbar-toggler:hover {
  color: var(--tosca-color);
}

.container {
  min-height: 100vh;
  margin-bottom: -(var(--footer-height));
}

.header {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
}

#logo {
  text-align: right;
}

#logo-text {
  text-align: left;
}

#logo img {
  max-width: 52px;
  max-height: 80%;
}

#logo-text img {
  max-width: 160px;
  max-height: 100%;
}

hr {
  margin: 0
}

.nav-item {
  margin: 0px 20px;
}

.link, .nav-link {
  color: var(--grey-color) !important;
}

.link:hover, .nav-link:hover, .nav-item a.active {
  color: var(--tosca-color) !important;
}

.primary-button {
  color: var(--grey-color);
  background-color: transparent;
  border: 1px solid var(--grey-color);
  border-radius: .25rem;
  min-width: 100px;
}

.primary-button:hover {
  color: var(--tosca-color);
}

#content {
  height: 65vh;
}

#form {
  border-radius: .25rem;
  border: 1px solid var(--grey-color);
  padding: 1rem 1rem;
}

#login-content, #register-content {
  text-align: center;
  height: 75vh;
}

#upload-content {
  text-align: center;
  height: 90vh;
}

.footer {
  height: var(--footer-height);
  position: relative;
  background-color: var(--tosca-color);
  color: var(--grey-color);
  font-size: 10px;
  padding: 10px 50px;
}

a, a:hover {
  color: white;
  text-decoration: none;
}

hr {
  border-top: 1px solid var(--grey-color)
}

.form-control, .form-control-custom {
  background-color: transparent;
  border: 1px solid var(--grey-color);
  border-radius: .25rem;
  padding: .25rem;
  color: var(--grey-color);
  font-size: 13px;
}

.form-control:focus {
  background-color: transparent;
  color: var(--grey-color);
}

.input-label {
  text-align: left;
  font-size: 13px;

  display: flex;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.9;
}

input {
  background: transparent !important;
  color: var(--grey-color) !important;
}

.success {
  color: var(--tosca-color);
  text-align: left;
}

.error {
  color: var(--red-color);
  text-align: left;
}

.dropdown-menu {
  color: var(--grey-color) !important;
  background-color: var(--black-color) !important;
}

.dropdown-item {
  color: var(--grey-color) !important;
}

.dropdown-item:hover {
  background-color: var(--black-color) !important;
  color: var(--tosca-color) !important;
}

.page-not-found {
  text-align: center;
}

@media (max-width: 575.98px) {
  #logo #logo-text {
      text-align: center;
  }
  #logo-text {
      align-items: flex-start;
      height: 100%;
      margin-bottom: 20px;
  }
  hr {
      margin: 10px;
  }
  #register-content {
      height: 80vh;
  }

  #login-content {
      height: 70vh;
  }

  #upload-content {
      height: 100vh;
  }

  .form-control {
      font-size: 12px;
  }
}

@media (max-width: 991.98px) {
  #title {
      text-align: center;
      margin-top: 30px;
  }
  #slideshow {
      margin-top: 30px;
      margin-bottom: 30px;
  }
  #content {
      height: 600px;
  }
}