* {
  margin: 0;
  padding: 0;
}

:root {
  --hr-color: rgba(0, 0, 0, .1);
  --black-color: rgb(15, 15, 15);
  --tosca-color: rgb(72, 148, 160);
  --red-color: rgb(254, 92, 54);
  --orange-color: rgb(255, 180, 73);
  --light-red-color: rgb(254, 92, 54, .3);
  --light-orange-color: rgb(255, 180, 73, .3);
  --light-tosca-color: rgb(72, 148, 160, .1);
  --white-color: antiquewhite;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: var(--black-color) url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  color: var(--white-color);
}

.navbar-dark .navbar-toggler {
  color: var(--white-color);
  border-color: var(--white-color);
}

.navbar-toggler:hover {
  color: var(--tosca-color);
}

*:focus {
  outline: none !important;
  -webkit-appearance: none !important;
}

.form-control:focus {
  outline: none;
  -webkit-appearance: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: inherit;
}

.container {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  height: 6.25rem;
  align-items: center;
}

#logo {
  text-align: right;
}

#vimsu-text {
  font-family: 'Fredoka One', cursive;
  color: var(--white-color);
  font-size: 2.5rem;
  letter-spacing: 0.625rem;
  margin-right: -0.625rem;
}

#logo-text {
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

#logo-text:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

#logo img {
  max-width: 3.25rem;
  max-height: 80%;
}

#logo-text img {
  max-width: 10rem;
  max-height: 100%;
}

hr {
  margin: 0
}

.nav-item {
  margin: 0rem 1.25rem;
}

a, a:hover {
  color: var(--white-color);
  text-decoration: none;
}

.link {
  color: var(--tosca-color);
}

.link:hover {
  color: var(--tosca-color);
  text-decoration: underline;
}

.nav-link {
  color: var(--white-color) !important;
}

.nav-link:hover, .nav-item a.active {
  color: var(--tosca-color) !important;
  background-color: transparent;
}

.nav-tabs {
  border-bottom: 0.0625rem solid var(--white-color);
  width: 100%;
  justify-content: center;
}

.nav-tabs .nav-item {
  width: 50%;
  margin: 0;
}

.nav-tabs .nav-link:hover {
  color: var(--tosca-color) !important;
  margin-bottom: -0.125rem;
  border-color: transparent;
  border-bottom: 0.1875rem solid transparent;
}

.nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: var(--white-color);
  border-bottom: 0.1875rem solid var(--black-color);
  margin-bottom: -0.125rem;
  color: var(--tosca-color) !important;
}

.carousel-control-next, .carousel-control-prev, .carousel-control-next:hover, .carousel-control-prev:hover {
  color: var(--white-color);
}

.primary-button {
  color: var(--white-color);
  background-color: transparent;
  border: 0.0625rem solid var(--white-color);
  border-radius: .25rem;
  min-width: 6.25rem;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.primary-button:hover {
  color: var(--tosca-color);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.warning-button {
  color: var(--red-color);
  background-color: transparent;
  border: 0.0625rem solid var(--red-color);
  border-radius: .25rem;
  min-width: 6.25rem;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.warning-button:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

#form {
  border-radius: .25rem;
  border: 0.0625rem solid var(--white-color);
  padding: 1rem 1rem;
}

#content, .large-form-content, .medium-large-form-content, .medium-form-content, .small-form-content {
  min-height: 75vh;
}

.large-form-content {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.medium-large-form-content {
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.medium-form-content {
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.small-form-content {
  text-align: center;
}

#footer {
  background-color: var(--tosca-color);
  color: var(--white-color);
  font-size: 0.625rem;
  padding: 0.625rem 5vw;
}

hr {
  border-top: 0.0625rem solid var(--white-color)
}

textarea {
  resize: none;
}

.form-control, .form-control-custom {
  background-color: transparent;
  border: 0.0625rem solid var(--white-color);
  border-radius: .25rem;
  padding: .25rem;
  color: var(--white-color);
  font-size: 0.8125rem;
}

.form-control:focus {
  background-color: transparent;
  color: var(--white-color);
}

option {
  color: var(--black-color)
}

.input-label {
  text-align: left;
  font-size: 0.8125rem;
  display: flex;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.9;
}

input, textarea {
  background: transparent !important;
  color: var(--white-color) !important;
}

.success {
  color: var(--tosca-color);
  text-align: left;
}

.error {
  color: var(--red-color);
  text-align: left;
}

.warning { 
  color: var(--orange-color);
  text-align: left;
}

.dropdown-menu {
  color: var(--white-color) !important;
  background-color: var(--black-color) !important;
}

.dropdown-item {
  color: var(--white-color) !important;
}

.dropdown-item:hover {
  background-color: var(--black-color) !important;
  color: var(--tosca-color) !important;
}

.page-not-found {
  text-align: center;
}

.tooltip-inner {
  color: var(--white-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8125rem;
  background: var(--black-color);
}

.footer-link {
  border: none; 
  background: none; 
  color: var(--white-color);
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

@media (min-width: 575.98px) {
  #footer {
    padding: 0.625rem 15vh;
  }
}

@media (max-width: 575.98px) {
  #logo #logo-text {
    text-align: center;
  }
  #logo-text {
    align-items: flex-start;
    height: 100%;
  }
  hr {
    margin: 0.625rem;
  }
  .form-control {
    font-size: 0.75rem;
  }
}

@media (max-width: 991.98px) {
  #title {
    text-align: center;
    margin-top: 1.875rem;
  }
  #slideshow {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
  }
}

@media (max-height: 430px) {
  #content, .small-form-content, .medium-form-content, .medium-large-form-content, .large-form-content {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}