* {
  margin: 0;
  padding: 0;
}

:root {
  --hr-color: rgba(0, 0, 0, .1);
  --black-color: rgb(15, 15, 15);
  --tosca-color: rgb(72, 148, 160);
  --red-color: rgb(254, 92, 54);
  --orange-color: rgb(255, 180, 73);
  --light-red-color: rgb(254, 92, 54, .3);
  --light-orange-color: rgb(255, 180, 73, .3);
  --light-tosca-color: rgb(72, 148, 160, .1);
  --white-color: antiquewhite;
  --footer-height: 35px;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: var(--black-color) url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  color: var(--white-color);
}

.navbar-dark .navbar-toggler {
  color: var(--white-color);
  border-color: var(--white-color);
}

.navbar-toggler:hover {
  color: var(--tosca-color);
}

*:focus {
  outline: none !important;
  -webkit-appearance: none !important;
}

.form-control:focus{
  outline: none;
  -webkit-appearance: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: inherit;
}

.container {
  min-height: 100vh;
  margin-bottom: -(var(--footer-height));
}

.header {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
}

#logo {
  text-align: right;
}

#vimsu-text {
  font-family: 'Fredoka One', cursive;
  color: var(--white-color);
  font-size: 40px;
  letter-spacing: 10px;
  margin-right: -10px;
}

#logo-text {
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

#logo-text:hover {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  -ms-transform:scale(1.1);
  transform:scale(1.1)
}

#logo img {
  max-width: 52px;
  max-height: 80%;
}

#logo-text img {
  max-width: 160px;
  max-height: 100%;
}

hr {
  margin: 0
}

.nav-item {
  margin: 0px 20px;
}

a, a:hover {
  color: var(--white-color);
  text-decoration: none;
}

.link {
  color: var(--tosca-color);
}

.link:hover {
  color: var(--tosca-color);
  text-decoration: underline;
}

.nav-link {
  color: var(--white-color) !important;
}

.nav-link:hover, .nav-item a.active {
  color: var(--tosca-color) !important;
  background-color: transparent;
}

.nav-tabs {
  border-bottom: 1px solid var(--white-color);
  width: 100%;
  justify-content: center;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  background-color: transparent;
  border-color: var(--white-color);
  color: var(--tosca-color) !important;
}

.carousel-control-next, .carousel-control-prev, 
.carousel-control-next:hover, .carousel-control-prev:hover {
  color: var(--white-color);
}

.primary-button {
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid var(--white-color);
  border-radius: .25rem;
  min-width: 100px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.primary-button:hover {
  color: var(--tosca-color);
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  -ms-transform:scale(1.1);
  transform:scale(1.1)
}

.warning-button {
  color: var(--red-color);
  background-color: transparent;
  border: 1px solid var(--red-color);
  border-radius: .25rem;
  min-width: 100px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.warning-button:hover {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  -ms-transform:scale(1.1);
  transform:scale(1.1)
}

#content {
  height: 65vh;
}

#form {
  border-radius: .25rem;
  border: 1px solid var(--white-color);
  padding: 1rem 1rem;
}

#login-content, #register-content {
  text-align: center;
  height: 75vh;
}

#upload-content {
  text-align: center;
  height: 90vh;
}

.footer {
  height: var(--footer-height);
  position: relative;
  background-color: var(--tosca-color);
  color: var(--white-color);
  font-size: 10px;
  padding: 10px 50px;
}

hr {
  border-top: 1px solid var(--white-color)
}

.form-control, .form-control-custom {
  background-color: transparent;
  border: 1px solid var(--white-color);
  border-radius: .25rem;
  padding: .25rem;
  color: var(--white-color);
  font-size: 13px;
}

.form-control:focus {
  background-color: transparent;
  color: var(--white-color);
}

.input-label {
  text-align: left;
  font-size: 13px;
  display: flex;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.9;
}

input {
  background: transparent !important;
  color: var(--white-color) !important;
}

.success {
  color: var(--tosca-color);
  text-align: left;
}

.error {
  color: var(--red-color);
  text-align: left;
}

.dropdown-menu {
  color: var(--white-color) !important;
  background-color: var(--black-color) !important;
}

.dropdown-item {
  color: var(--white-color) !important;
}

.dropdown-item:hover {
  background-color: var(--black-color) !important;
  color: var(--tosca-color) !important;
}

.page-not-found {
  text-align: center;
}

.tooltip-inner {
  color: var(--white-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  background: var(--black-color);
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

@media (max-width: 575.98px) {
  #logo #logo-text {
    text-align: center;
  }
  #logo-text {
    align-items: flex-start;
    height: 100%;
  }
  hr {
    margin: 10px;
  }
  #register-content {
    height: 80vh;
  }
  #login-content {
    height: 70vh;
  }
  #upload-content {
    height: 100vh;
  }
  .form-control {
    font-size: 12px;
  }
}

@media (max-width: 991.98px) {
  #title {
    text-align: center;
    margin-top: 30px;
  }
  #slideshow {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #content {
    height: 600px;
  }
}