@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/******************************************************/
/*************** Rule to calculate rem ****************/
/******************************************************/
/** In our software holds 1rem === 16px              **/
/** therefore x rem = desired pixel size / 16px      **/
/******************************************************/

:root {
  --black-color: rgb(15, 15, 15);
  --semi-light-black-color: rgb(24, 30, 32);
  --semi-light-black-color-a: rgba(24, 30, 32, 0.699);
  --light-black-color: rgb(34, 43, 46);
  --strong-black-color-a: rgba(15, 15, 15, 0.8);
  --grey-color: rgb(68, 68, 68);
  --cyan-color: #028090;
  --white-color: antiquewhite;
  --strong-white-color-a: rgba(255, 255, 255, 0.8);
  --forest-green: rgb(34, 43, 46);
  --strong-dark-forest-green-a: rgba(24, 30, 32, 0.699);
}

* {
  margin: 0rem;
  padding: 0rem;
  scroll-behavior: auto;
  color: var(--white-color);
}

/**
* The attributes from the first block overwrite attributes inherited from bootstrap body.
* This is necessary because #identifiers have not a higher priority than bootstrap body.
* Classes although have.
*/
body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: var(--black-color);
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

table {
  font-size: 1rem;
}

input,
textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  outline: none;
  resize: none;
}

#overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: var(--black-color);
  z-index: 2000;
  transition: 1s 0.4s;
}

#progressbar{
  height: 0.0625rem;
  background: white;
  position: absolute;
  width: 0;
  top: 50%;
}

#progressstatus{
  font-size: 0.7em;
  letter-spacing: 0.1875rem;
  position: absolute;
  top: 50%;
  margin-top: -1.25rem;
  width: 100%;
  text-align: center;
}

.canvas {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

#mapCanvas {
  position: absolute;
  pointer-events: none;
  z-index: 0;
}

video::-webkit-media-controls-play-button, video::-webkit-media-controls-pausebutton, 
video::-webkit-media-controls-timeline {
  display: none;
}

#avatarCanvas {
  position: absolute;
  z-index: 1;
}

emoji-picker {
  height: 12.5rem;
  --indicator-height: 0.1875rem;
  --outline-size: 0.125rem;
}

form {
  border-radius: 0.3125rem;
  top: 0;
  z-index: 3;
} 

form input {
  outline: none;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.25rem;
  width: 15.625rem;
}

form button {
  outline: none !important;
  box-shadow: none !important;
  background: var(--black-color);
  border: none;
  padding: 0.125rem;
}

form button:hover {
  opacity: 0.8;
}

#connectionStatus {
  background-color: var(--strong-white-color-a);
  padding: 0.3125rem; 
  border-radius: 0.625rem; 
  color: firebrick; 
  z-index: 10000;
  text-align: center;
}

.list-group, 
#profileModal, 
#businessCardModal .modal-body, 
.messageBubbleMyself, 
.messageBubbleOthers,
.allChatMessageBubbleMyself,
.allChatMessageBubbleOthers,
#scheduleModal .modal-body #schedule,
#globalChatMessage,
#largerGlobalChatMessage {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#notifBar {
  font-size: 0.9375rem;
  background: var(--strong-black-color-a);
  border-radius: 0rem;
  overflow-y: scroll;
  z-index: 5;
  padding-left: 0.625rem;
  max-height: 22.5rem;
  padding: 0;
  top: 2rem;
  right: -15.625rem;
  position: absolute;
  width: 15.625rem;
}

.notifBarDiv {
  background-color: none; 
  border-radius: 0rem;
  padding: 0.3125rem;
}

.notifBarText {
  text-align: right;
  padding: 0.3125rem;
}

.notifBarText:hover {
  opacity: .8;
}

#allchatWindow {
  left: -15.625rem;
  position: absolute;
  width: 15.625rem;
}

#allChatBox {
  font-size: 0.9375rem;
  background: var(--strong-black-color-a);
  overflow-y: scroll;
  border-radius: 0rem 0rem 0.3125rem 0rem;
  margin: 0rem;
  padding: 0rem;
  height: 22.5rem;
}

#allChatHeader {
  font-size: 1rem;
  background-color: var(--strong-black-color-a);
}

#allchatHeaderText {
  border-radius: 0rem 0.3125rem 0rem 0rem; 
  border-bottom: 0.0625rem solid var(--white-color);
}

#allchatMessageInput {
  outline: none;
  background-color: var(--black-color); 
  font-size: 0.875rem;
  width: 14.0625rem;
}

/*#allchatMessages div {
}*/

.chatInputGroup {
  background-color: #1b1e24 !important; 
  color: var(--white-color);
  border-color: var(--white-color);
  border-radius: 0.3125rem 0rem 0rem 0.3125rem !important;
}

.chatInputGroup {
  background-color: #1b1e24 !important; 
  color: antiquewhite !important; 
  border-color: antiquewhite !important; 
  border-radius: 0.3125rem 0rem 0rem 0.3125rem !important;
}

.navbarIcons {
  transform: scale(0.8)
}

.navbarIconsText {
  font-size: 1rem;
}

.friendRequestListButton:hover {
  opacity: .5 !important;
}

.leavingChat:hover {
  opacity: .5 !important;
}

.fa-sort-desc:hover {
  opacity: .5 !important;
}

.fa-users:hover {
  opacity: .5 !important;
}

a:hover {
  text-decoration: none !important;
}

.icon-align {
vertical-align: middle;
}

.currentLecturesContainer {
  border-style: solid;
  border-color: var(--white-color);
  border-radius: 0.625rem;
  background-color: var(--semi-light-black-color-a);
}

.closeBtn {
  background-color: transparent !important; 
  border-color: transparent !important; 
  outline: none !important;
  -webkit-appearance:none !important;
  box-shadow: none !important;
}

.closeBtn:hover {
  opacity: .5 !important;
}

button:disabled {
  opacity: .5;
}

.lectureChatContainer {
  border-style: solid;
  border-color: var(--white-color);
  border-radius: 0.625rem;
  background-color: rgb(33, 41, 44);
}

.lectureChatHeader {
  background-color: var(--semi-light-black-color);
  border-color: transparent !important; 
  border-radius: 0.625rem 0.625rem 0rem 0rem;
}

.window-header {
  background-color: var(--semi-light-black-color-a);
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  box-shadow: 0rem 0rem 0rem transparent; 
  font-size: 1.25rem;
  height: 10%;
  align-items: center;
}

.window-content {
  overflow-y: scroll;
  border-radius: 0rem 0rem 0.625rem 0.625rem; 
  margin: 0;
  padding: 0;
  background-color: var(--light-black-color) !important;
  height: 90%;
}

.window {
  position: fixed;
  background-color: var(--light-black-color) !important;
  display: none; 
  border: 0.0625rem solid var(--white-color);
  border-radius: 0.625rem;
  z-index: 1060;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%,-50%);
}

.externalWebsiteWindow {
  background-color: var(--light-black-color) !important;
  padding: 0rem !important;
  overflow-y: auto;
  display: none; 
  position: fixed; 
  top: 20%; 
  left: 30%; 
  border-radius: 0.625rem; 
  z-index: 1100;
  width: 40%;
  height: 45%;
}

.viewBlockerWindow {
  background-color: var(--black-color) !important;
  padding: 0rem !important;
  overflow: hidden;
  display: none; 
  position: fixed; 
  top: 0rem; 
  left: 0rem; 
  border-radius: 0.625rem; 
  z-index: 5000; 
  width: 100%; 
  height: 100%;
}

.btn-blue, .btn-white {
  border: none !important;
  box-shadow: 0rem 0rem 0rem transparent !important;
  border-radius: 0.1875rem !important;
  text-decoration: none;
  text-align: center;
}

.btn-blue {
  background-color: var(--cyan-color);
  color: var(--white-color);
}

.btn-blue:hover {
  opacity: 1;
  background-color: #017281;
  color: var(--white-color);
}

.btn-white {
  background-color: rgb(231, 218, 200);
  color: var(--light-black-color);
}

.btn-white:hover {
  opacity: 1;
  background-color: rgb(196, 186, 173);
  color: var(--light-black-color);
}

.messageBubbleMyself {
  max-width: 25vw;
  background-color: rgb(0, 135, 153);
  border: none !important;
  border-radius: 0.3125rem !important;
  padding: 0.3125rem 0.5rem;
}

.messageBubbleOthers {
  max-width: 25vw;
  background-color: var(--grey-color);
  border: none !important;
  border-radius: 0.3125rem !important;
  padding: 0.3125rem 0.5rem;
}

.allChatMessageBubbleMyself {
  max-width: 12.5rem;
  background-color: var(--grey-color);
  border: none !important;
  border-radius: 0.3125rem !important;
  padding: 0.3125rem 0.5rem;
}

.allChatMessageBubbleOthers {
  max-width: 12.5rem;
  background-color: var(--grey-color);
  border: none !important;
  border-radius: 0.3125rem !important;
  padding: 0.3125rem 0.5rem;
}

/*.showRoomChat {
}*/

.showRoomChat:hover {
  opacity: .5;
}

.table thead tr th{
  border-top: none;
  border-bottom: 0.125rem solid var(--white-color)
}

.table tbody tr th{
  border-bottom: 0.0625rem solid var(--white-color);
}

.table tbody tr td{
  border-bottom: 0.0625rem solid var(--white-color);
}

.table tbody tr:last-child th {
  border-bottom: none;
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.chatthread:hover {
  background-color: var(--semi-light-black-color-a) !important;
}

.achievement-icon {
  opacity: 1;                /* Opacity (Transparency) */
  -webkit-filter: blur(0rem);    /* Blur */
  -moz-filter: blur(0rem);
  filter: blur(0rem);
}

.achievement-blur {
  color: darkslategray;
  opacity: 0.75;                /* Opacity (Transparency) */
  -webkit-filter: blur(0.5rem);    /* Blur */
  -moz-filter: blur(0.5rem);
  filter: blur(0.5rem);
}

.achievementBox {
  border: 0.0625rem solid var(--white-color); 
  border-top: none; 
  border-radius: 0rem 0rem 0.3125rem 0.3125rem; 
  min-width: 4.375rem;
  height: 2.1875rem;
}

::-webkit-scrollbar {
  width: 0.375rem;
  height: 0.375rem;
}

::-webkit-scrollbar-button {
  width: 0rem;
  height: 0rem;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
  background: transparent;
  border: 0rem none #ffffff;
  border-radius: 3.125rem;
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
  background: rgba(221, 221, 221, 0.4);
}

::-webkit-scrollbar-track:hover, ::-webkit-scrollbar-track:active {
  background: rgba(221, 221, 221, 0.2);
}

::-webkit-scrollbar-corner {
  background: transparent
}

.wrapword {
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}