@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(15, 15, 15);
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Inter', sans-serif;
}

body.modal-open {
  overflow: hidden;
}

.modal-backdrop {
  background: none;
}

input,
textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  outline: none;
}

.form-control:focus {
  outline: none !important;
  -webkit-appearance:none !important;
  box-shadow: none !important;
  border-color: antiquewhite;
}

#overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: rgb(15,15,15);
  z-index: 2000;
  transition: 1s 0.4s;
}

#progressbar{
  height: 1px;
  background: white;
  position: absolute;
  width: 0;
  top: 50%;
}

#progressstatus{
  font-size: 0.7em;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 100%;
  text-align: center;
  color: antiquewhite;
}

.canvas {
  width: 1250px;
  height: 610px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

#mapCanvas {
  position: absolute;
  pointer-events: none;
  z-index: 0;
}

video::-webkit-media-controls-play-button, video::-webkit-media-controls-pausebutton, 
video::-webkit-media-controls-timeline {
  display: none;
}

#avatarCanvas {
  position: absolute;
  z-index: 1;
}

form {
  border-radius: 5px;
  top: 0;
  z-index: 3;
} 

form input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 4px;
  width: 250px;
}

form button {
  outline: none !important;
  box-shadow: none !important;
  background: rgb(15, 15, 15);
  border: none;
  color: antiquewhite;
  padding: 2px;
}

form button:hover {
  opacity: 0.8;
}

.modal-body-large {
  overflow: auto; 
  height: 500px
}

#connectionStatus {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 5px; 
  border-radius: 10px; 
  color: firebrick; 
  z-index: 10000;
  text-align: center;
}

.list-group, 
#profileModal, 
#businessCardModal .modal-body, 
.messageBubbleMyself, 
.messageBubbleOthers,
.allChatMessageBubbleMyself,
.allChatMessageBubbleOthers,
#scheduleModal .modal-body #schedule,
#globalChatMessage,
#largerGlobalChatMessage {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#notifBar {
  font-size: 15px;
  background: rgba(15, 15, 15, 0.8);
  border-radius: 0px;
  overflow-y: scroll;
  z-index: 5;
  padding-left: 10px;
  max-height: 360px;
  padding: 0;
}

.notifBarDiv {
  background-color: none; 
  border-radius: 0px;
  padding: 5px;
}

.notifBarText {
  color: antiquewhite;
  text-align: right;
  padding: 5px;
}

.notifBarText:hover {
  opacity: .8;
}

#allchatWindow {
  left: -250px;
  position: absolute;
  width: 250px;
}

#allChatBox {
  font-size: 15px;
  background:rgba(15, 15, 15, 0.8);
  overflow-y: scroll;
  border-radius: 0px 0px 5px 0px;
  margin: 0;
  padding: 0;
  height: 360px;
}

#allChatHeader {
  background-color: rgba(15, 15, 15, 0.8); 
  border-radius: 0px 5px 0px 0px; 
  border-bottom: 1px solid antiquewhite; 
  color: antiquewhite; 
  font-size: medium;
}

#allchatMessageInput {
  outline: none;
  background-color: rgb(15, 15, 15); 
  color: antiquewhite;
  font-size: 14px;
  width: 225px;
}

#allchatMessages div {
  color: antiquewhite;
}

.chatInputGroup {
  background-color: #1b1e24; 
  color: antiquewhite; 
  border-color: antiquewhite; 
  border-radius: 5px 0px 0px 5px;
}

.navbarIcons {
  color: antiquewhite;
  transform: scale(0.8)
}

.navbarIconsText {
  color: antiquewhite;
  font-size: 15px;
}

.friendRequestListButton:hover {
  opacity: .5 !important;
}

.leavingChat:hover {
  opacity: .5 !important;
}

.fa-sort-desc:hover {
  opacity: .5 !important;
}

.fa-users:hover {
  opacity: .5 !important;
}

a:hover {
  text-decoration: none !important;
}

.icon-align {
vertical-align: middle;
}

.currentLecturesContainer {
  border-style: solid;
  border-color: antiquewhite;
  border-radius: 10px;
  background-color: rgba(24, 30, 32, 0.699);
}

.closeBtn {
  background-color: transparent !important; 
  border-color: transparent !important; 
  color: antiquewhite; 
  outline: none !important;
  -webkit-appearance:none !important;
  box-shadow: none !important;
}

.closeBtn:hover {
  opacity: .5 !important;
}

button:disabled {
  opacity: .5;
}

.lectureChatContainer {
  border-style: solid;
  border-color: antiquewhite;
  border-radius: 10px;
  background-color: rgb(33, 41, 44);
}

.lectureChatHeader {
  background-color: rgba(24, 30, 32, 1);
  border-color: transparent !important; 
  border-radius: 10px 10px 0px 0px;
  color: antiquewhite;
}

.window-header {
  color: antiquewhite;
  font-size: 30px;
  background-color: rgba(24, 30, 32, 0.699);
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 0px transparent; 
  font-size: large;
  height: 10%;
  align-items: center;
}

.window-content {
  overflow-y: scroll;
  border-radius: 0px 0px 10px 10px; 
  margin: 0;
  padding: 0;
  background-color:rgba(34, 43, 46, 1) !important;
  height: 90%;
}

.window {
  position: fixed;
  color: antiquewhite;
  background-color:rgba(34, 43, 46, 1) !important;
  display: none; 
  border: 1px solid antiquewhite;
  border-radius: 10px;
  z-index: 1060;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%,-50%);
}

.externalWebsiteWindow {
  background-color:rgba(34, 43, 46, 1) !important;
  color: antiquewhite;
  padding: 0px !important;
  overflow-y: auto;
  display: none; 
  position: fixed; 
  top: 20%; 
  left: 30%; 
  border-radius: 10px; 
  z-index: 1100;
  width: 40%;
  height: 45%;
}

.viewBlockerWindow {
  background-color:rgba(15, 15, 15, 1) !important;
  color: antiquewhite;
  padding: 0px !important;
  overflow: hidden;
  display: none; 
  position: fixed; 
  top: 0px; 
  left: 0px; 
  border-radius: 10px; 
  z-index: 2000; 
  width: 100%; 
  height: 100%;
}

.btn-lecture {
  background-color: #028090;
  border: none;
  border-radius: 3px;
  color: antiquewhite;
  text-decoration: none;
}

.btn-lecture:hover {
  background-color: #028090;
  border: none;
  border-radius: 3px;
  color: antiquewhite;
  text-decoration: none;
}

.btn-blue, .btn-white {
  border: none !important;
  box-shadow: 0px 0px 0px transparent !important;
  border-radius: 3px !important;
  text-decoration: none;
  text-align: center;
}

.btn-blue {
  background-color: #028090;
  color: antiquewhite;
}

.btn-blue:hover {
  opacity: 1;
  background-color: #017281;
  color: antiquewhite;
}

.btn-white {
  background-color: rgb(231, 218, 200);
  color: rgba(34, 43, 46, 1);
}

.btn-white:hover {
  opacity: 1;
  background-color: rgb(212, 202, 188);
  color: rgba(34, 43, 46, 1);
}

.messageBubbleMyself {
  max-width: 25vw;
  background-color: rgb(0, 135, 153);
  color: antiquewhite;
  border: none !important;
  border-radius: 5px !important;
  padding: 5px 8px;
}

.messageBubbleOthers {
  max-width: 25vw;
  background-color: rgb(68, 68, 68);
  color: antiquewhite;
  border: none !important;
  border-radius: 5px !important;
  padding: 5px 8px;
}

.allChatMessageBubbleMyself {
  max-width: 200px;
  background-color: rgb(68, 68, 68);
  color: antiquewhite;
  border: none !important;
  border-radius: 5px !important;
  padding: 5px 8px;
}

.allChatMessageBubbleOthers {
  max-width: 200px;
  background-color: rgb(68, 68, 68);
  color: antiquewhite;
  border: none !important;
  border-radius: 5px !important;
  padding: 5px 8px;
}

.modal-header {
  text-align: center;
  background-color: rgba(24, 30, 32, 0.699);
  color: antiquewhite;
  font-size: 30px;
  border-color: transparent !important; 
  box-shadow: 0px 0px 0px transparent;
  overflow-x: scroll;
  overflow-y: scroll;
}

.modal-header .dropdown-menu, .modal-header, .modal-content{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.modal-header .dropdown-menu::-webkit-scrollbar, 
.modal-header::-webkit-scrollbar, 
.modal-content::-webkit-scrollbar {
  display: none;
}


.modal-header, 
.modal-header .dropdown {
  position: static !important;
}

.modal-header .dropdown-menu {
  width: 464px !important;
  min-height: 501px !important;
  background-color: rgba(34, 43, 46, 1) !important;
  color: antiquewhite;
}

.modal-content {
  background-color:rgba(34, 43, 46, 1) !important;
  color: antiquewhite;
  padding: 0px !important;
  overflow: scroll;
  border-color: antiquewhite;
  border-style: solid;
  border-width: small;
  border-radius: 10px;
  box-shadow: 0px 0px 0px transparent;
 }

.modal-body-center {
  overflow: auto; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

 .close {
  background-color: transparent !important; 
  border-color: transparent !important; 
  color: antiquewhite; 
  opacity: 1;
  outline: none !important;
  box-shadow: none !important;
  position: relative; 
}

.close:hover {
  background-color: transparent !important; 
  border-color: transparent !important; 
  color: antiquewhite; 
  opacity: .5 !important;
  box-shadow: 0px 0px 0px transparent;
}

emoji-picker {
  width: 350px;
  height: 200px;
  --num-columns: 9;
  --background: rgba(34, 43, 46, 1);
}

.showRoomChat {
  color: antiquewhite;
}

.showRoomChat:hover {
  opacity: .5;
  color: antiquewhite;
}

.table {
  color: antiquewhite;
}

.table thead tr th{
  border-top: none;
  border-bottom: 2pt solid antiquewhite
}

.table tbody tr th{
  border-bottom: 1pt solid antiquewhite;
}

.table tbody tr td{
  border-bottom: 1pt solid antiquewhite;
}

.table tbody tr:last-child th {
  border-bottom: none;
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.list-group-item:first-child { 
  border-top: 1pt solid antiquewhite !important;
}

.list-group-item {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1pt solid antiquewhite !important;
  border-radius: 0px 0px 0px 0px !important;
  background: none;
}

.chatthread:hover {
  background-color:rgba(24, 30, 32, 0.699) !important;
}

.achievement-icon {
  font-size: 120px;
  opacity: 1;                /* Opacity (Transparency) */
  -webkit-filter: blur(0px);    /* Blur */
  -moz-filter: blur(0px);
  filter: blur(0px);
}

.achievement-blur {
  color: darkslategray;
  opacity: 0.75;                /* Opacity (Transparency) */
  -webkit-filter: blur(8px);    /* Blur */
  -moz-filter: blur(8px);
  filter: blur(8px);
}

.achievementBox {
  border: 1px solid antiquewhite; 
  border-top: none; 
  border-radius: 0px 0px 5px 5px; 
  min-width: 70px;
  height: 35px;
}

.progress {
  width: 100%;
  height: 5px;
}

.spinner-border {
  color: antiquewhite;
}

.tooltip-inner {
  color: antiquewhite;
  background: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
  background: rgba(221, 221, 221, 0.4);
}

::-webkit-scrollbar-track:hover, ::-webkit-scrollbar-track:active {
  background: rgba(221, 221, 221, 0.2);
}

::-webkit-scrollbar-corner {
  background: transparent
}

.wrapword {
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}