* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(15, 15, 15);
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

body.modal-open {
  overflow: hidden;
}

input,
textarea {
     -moz-user-select: text;
     outline: none;
}

.form-control:focus {
  outline: none !important;
  -webkit-appearance:none !important;
  box-shadow: none !important;
  border-color: antiquewhite;
}

#overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: rgb(15,15,15);
  z-index: 2000;
  transition: 1s 0.4s;
}

#progressbar{
  height: 1px;
  background: white;
  position: absolute;
  width: 0;
  top: 50%;
}

#progressstatus{
  font-size: 0.7em;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 100%;
  text-align: center;
  color: antiquewhite;
}

#mapCanvas {
  position: absolute;
  width: 1280px;
  height: 640px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  pointer-events: none;
  z-index: 0;
}

video::-webkit-media-controls-play-button, video::-webkit-media-controls-pausebutton, 
video::-webkit-media-controls-timeline {
  display: none;
}

#avatarCanvas {
  position: absolute;
  width: 1280px;
  height: 640px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

form {
  border-radius: 5px;
  top: 0;
  z-index: 3;
} 

form input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 4px;
  width: 250px;
}

form button {
  outline: none !important;
  box-shadow: none !important;
  background: rgb(15, 15, 15);
  border: none;
  color: antiquewhite;
  padding: 2px;
}

form button:hover {
  opacity: 0.8;
}


#connectionStatus {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 5px; 
  border-radius: 10px; 
  color: firebrick; 
  z-index: 10000;
  text-align: center;
}

#notifBar {
  font-size: 15px;
  background: rgba(15, 15, 15, 0.8);
  border-radius: 5px;
  overflow-y: scroll;
  margin: 0;
  padding-left: 10px;
  max-height: 60vh;
}

.notifBarDiv {
  background-color: none; 
  color: antiquewhite;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
}

#allChatBox {
  font-size: 15px;
  background:rgba(15, 15, 15, 0.8);
  overflow-y: scroll;
  border-radius: 0px 0px 5px 0px;
  margin: 0;
  padding: 0;
  z-index: 1;
  height: 60vh;
}

#allChatHeader {
  width: 20vw; 
  background-color: rgba(15, 15, 15, 0.8); 
  border-radius: 0px 5px 0px 0px; 
  border-bottom: 1px solid antiquewhite; 
  color: antiquewhite; 
  font-size: medium;
}

#allchatMessageInput {
  outline: none;
  background-color: rgb(15, 15, 15); 
  color: antiquewhite;
  font-size: 14px;
  max-width: 18vw;
}

#allchatMessages div {
  background: none;
  color: antiquewhite;

}

.navbarIcons {
  color: antiquewhite;
  transform: scale(0.8)
}

.navbarIconsText {
  color: antiquewhite;
  font-size: 15px;
}

.friendRequestListButton:hover {
  opacity: .5 !important;
}

.leavingChat:hover {
  opacity: .5 !important;
}

.fa-sort-desc:hover {
  opacity: .5 !important;
}

.fa-users:hover {
  opacity: .5 !important;
}

a:hover {
  text-decoration: none !important;
}

.icon-align {
vertical-align: middle;
}

.currentLecturesContainer {
  border-style: solid;
  border-color: antiquewhite;
  border-radius: 10px;
  background-color: rgba(24, 30, 32, 0.699);
}

.lectureChatInput {
  background-color: #1b1e24; 
  color: antiquewhite;
  outline: none;
}

.closeBtn {
  background-color: transparent !important; 
  border-color: transparent !important; 
  color: antiquewhite; 
  outline: none !important;
  -webkit-appearance:none !important;
  box-shadow: none !important;
}

.lectureChatContainer {
  border-style: solid;
  border-color: antiquewhite;
  border-radius: 10px;
  background-color: rgb(33, 41, 44);
}

.currentLecturesWindow {
  background-color:rgba(34, 43, 46, 0.8) !important;
  color: antiquewhite;
  padding: 0px !important;
  overflow: scroll;
  display: none; 
  position: fixed; 
  top: 0px; 
  left: 0px; 
  border-radius: 10px; 
  z-index: 320; 
  width: 100%; 
  height: 100%
}

.lectureVideoWindow {
  background-color:rgba(34, 43, 46, 1) !important;
  color: antiquewhite;
  padding: 0px !important;
  overflow: scroll;
  display: none; 
  position: fixed; 
  top: 0px; 
  left: 0px; 
  border-radius: 10px; 
  z-index: 350; 
  width: 100%; 
  height: 100%;
}

.currentLecturesHeader {
  background-color: rgba(24, 30, 32, 0.699);
  color: antiquewhite;
  font-size: 30px;

}

.lectureVideoHeader {
  background-color: rgba(24, 30, 32, 1);
  color: antiquewhite;
  font-size: 30px;

}

.lectureChatHeader {
  background-color: rgba(24, 30, 32, 1);
  border-color: transparent !important; 
  border-radius: 10px 10px 0px 0px;
  color: antiquewhite;
}

.globalChatWindow {
  background-color:rgba(34, 43, 46, 0.8) !important;
  color: antiquewhite;
  padding: 0px !important;
  overflow-y: auto;
  display: none; 
  position: fixed; 
  top: 30%; 
  left: 30%; 
  border-radius: 10px; 
  z-index: 1100;
  width: 40%; 
  height: 30%;
}

.globalChatWindowHeader {
  background-color: rgba(24, 30, 32, 0.699);
  position: sticky;
  color: antiquewhite;
  font-size: 30px;
}

.largerGlobalChatWindow {
  background-color:rgba(34, 43, 46, 0.8) !important;
  color: antiquewhite;
  padding: 0px !important;
  overflow-y: auto;
  display: none; 
  position: fixed; 
  top: 10%; 
  left: 30%; 
  border-radius: 10px; 
  z-index: 1100;
  width: 40%; 
  height: 80%;
}

.externalWebsiteWindow {
  background-color:rgba(34, 43, 46, 0.8) !important;
  color: antiquewhite;
  padding: 0px !important;
  overflow-y: auto;
  display: none; 
  position: fixed; 
  top: 20%; 
  left: 30%; 
  border-radius: 10px; 
  z-index: 1100;
  width: 40%;
  height: 45%;
}

.viewBlockerWindow {
  background-color:rgba(15, 15, 15, 1) !important;
  color: antiquewhite;
  padding: 0px !important;
  overflow: hidden;
  display: none; 
  position: fixed; 
  top: 0px; 
  left: 0px; 
  border-radius: 10px; 
  z-index: 2000; 
  width: 100%; 
  height: 100%;
}

.btn-lecture {
  background-color: #028090;
  border: none;
  border-radius: 3px;
  color: antiquewhite;
  text-decoration: none;
}

.btn-lecture:hover {
  background-color: #028090;
  border: none;
  border-radius: 3px;
  color: antiquewhite;
  text-decoration: none;
}

.btn-accept {
  background-color: #028090;
  border: none;
  border-radius: 3px;
  color: antiquewhite;
  text-decoration: none;
}

.btn-accept:hover {
  background-color: #015a66;
  color: antiquewhite;
}

.btn-reject {
  background-color: rgb(231, 218, 200) !important;
  width: 75px;
  border: none !important;
  box-shadow: 0px 0px 0px transparent !important;
  border-radius: 3px !important;
  color: rgba(34, 43, 46, 1) !important;
  text-decoration: none;
}

.btn-reject:hover {
  background-color: rgb(179, 170, 159) !important;
  color: rgba(34, 43, 46, 1) !important;
  border: none !important;
  box-shadow: 0px 0px 0px transparent !important;
  text-decoration: none !important;
  border-radius: 3px !important;
}

.modal-header {
  text-align: center;
  background-color: rgba(24, 30, 32, 0.699);
  color: antiquewhite;
  font-size: 30px;
  border-color: transparent !important; 
  box-shadow: 0px 0px 0px transparent;
  overflow-x: scroll;
  overflow-y: scroll;
}

.modal-header .dropdown-menu::-webkit-scrollbar {
  display: none;
}

.modal-header::-webkit-scrollbar {
  display: none;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-header, 
.modal-header .dropdown {
  position: static !important;
}

.modal-header .dropdown-menu {
  width: 464px !important;
  min-height: 501px !important;
  background-color: rgba(34, 43, 46, 1) !important;
  color: antiquewhite;
}

.modal-content {
  background-color:rgba(34, 43, 46, 0.8) !important;
  color: antiquewhite;
  padding: 0px !important;
  overflow: scroll;
  border-color: antiquewhite;
  border-style: solid;
  border-width: medium;
  border-radius: 10px;
  box-shadow: 0px 0px 0px transparent;
 }

.modal-body-center {
  overflow: auto; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

 .close {
  background-color: transparent !important; 
  border-color: transparent !important; 
  color: antiquewhite; 
  opacity: 1;
  outline: none !important;
  box-shadow: none !important;
  position: relative; 
}

.close:hover {
  background-color: transparent !important; 
  border-color: transparent !important; 
  color: antiquewhite; 
  opacity: .5 !important;
  box-shadow: 0px 0px 0px transparent;
}

.showRoomChat {
  color: antiquewhite;
}

.showRoomChat:hover {
  opacity: .5;
  color: antiquewhite;
}

.table {
  color: antiquewhite;
}

.table thead tr th{
  border-top: none;
  border-bottom: 2pt solid antiquewhite
}

.table tbody tr th{
  border-bottom: 1pt solid antiquewhite;
}

.table tbody tr td{
  border-bottom: 1pt solid antiquewhite;
}

.table tbody tr:last-child th {
  border-bottom: none;
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.list-group-item:first-child { 
  border-top: 1pt solid antiquewhite !important;
}

.list-group-item {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1pt solid antiquewhite !important;
  border-radius: 0px 0px 0px 0px !important;
}

.chatthread:hover {
  background-color:rgba(34, 43, 46, 1) !important;
}

.achievement-icon {
  font-size: 120px;
  opacity: 1;                /* Opacity (Transparency) */
  -webkit-filter: blur(0px);    /* Blur */
  -moz-filter: blur(0px);
  filter: blur(0px);
}

.achievement-blur {
  color: darkslategray;
  opacity: 0.75;                /* Opacity (Transparency) */
  -webkit-filter: blur(8px);    /* Blur */
  -moz-filter: blur(8px);
  filter: blur(8px);
}

.achievementBox {
  border: 1px solid antiquewhite; 
  border-top: none; 
  border-radius: 0px 0px 5px 5px; 
  min-width: 70px;
  height: 35px;
}

.progress {
  width: 100%;
  height: 5px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
  background: rgba(221, 221, 221, 0.3);
}

::-webkit-scrollbar-track:hover, ::-webkit-scrollbar-track:active, ::-webkit-scrollbar-corner {
  background: transparent;
}

.wrapword {
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}