<head>
	<meta charset="utf-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/fontawesome.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="website/views/style.css">
      
	<title>Vimsu</title>
<link rel="icon" type="image/png" sizes="16x16" href="website/assets/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="website/assets/favicon-32x32.png">
<link rel="apple-touch-icon" sizes="180x180" href="website/assets/apple-touch-icon.png">
<link rel="manifest" href="website/assets/site.webmanifest">
<script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward();
    }
</script>
</head>
<body onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload=""></body>
