<section class="d-flex align-items-center justify-content-between" id="footer">
    <span>&copy 2020-2021 VIMSU</span>
    <form action="/" method="POST">
        <button style= "border: none; background: none; color: white" type="submit" name="languageButton" value="de">
            Deutsch
        </button>
        <button style= "border: none; background: none; color: white" type="submit" name="languageButton" value="en">
            English
        </button>
    </form>
    <a href="/privacy-policy">
        Privacy Policy
    </a>
</section>