<section class="d-flex align-items-center justify-content-between" id="footer">
    <span>&copy 2020-2021 VIMSU</span>
    <form action="/language" method="GET">
        <button class="footer-link" type="submit" name="type" value="de">
            DE
        </button>
        |
        <button class="footer-link" type="submit" name="type" value="en">
            EN
        </button>
        |
        <button class="footer-link" type="submit" name="type" value="id">
            ID
        </button>
    </form>
    <a href="/privacy-policy">
        <%=languageData.privacyPolicy%>
    </a>
</section>