<section class="row align-items-center justify-content-center">
    <div class="col-lg-1 col-md-1 col-sm-2 header" id="logo">
        <a href="/">
            <img src="/website/assets/vimsu_banner.png" type="image/png" alt="Vimsu Logo">
        </a>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-4 header" id="logo-text">
        <a href="/" id="vimsu-text">
            VIMSU
        </a>
    </div>
</section>
<hr>
<nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span>menu </span><i class="fa fa-caret-down"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/" id="home">home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about-us">about us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tutorial">tutorial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact-us">contact us</a>
            </li>
            <% if (locals.loggedIn===true) { %>
                <% if (locals.videoStorageActivated) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            my dashboard
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/my-dashboard/upload">upload video</a>
                        </div>
                    </li>
                <% } %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%=username%>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/<%=username%>/account-settings">account settings</a>
                        <a class="dropdown-item" href="/logout">log out</a>
                    </div>
                </li>
            <% } %>
        </ul>
    </div>
</nav>
<hr>

<script>
    $(function() {
        $('nav a[href~="' + location.pathname + '"]').addClass('active');
        if (location.pathname.split("/")[1])
            $(`.dropdown-toggle:contains(${location.pathname.split("/")[1].replace(/-/g,' ')})`).addClass('active');
    });
</script>