<html>

<head>

    <meta charset="UTF-8">
    <title>VIMSU</title>

    <noscript>Your browser does not support JavaScript!</noscript>

    <!------------------------------------IMPORTING REQUIREMENTS------------------------------------->

    <!--FONTAWESOME-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/fontawesome.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/f6c8522501.js" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!--SOCKET.IO-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <!--JITSI API-->
    <script src='https://meet.jit.si/external_api.js'></script>

    <!--BOOTSTRAP-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!--OTHER REQUIREMENTS-->
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/confetti-js@0.0.18/dist/index.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.js"></script>

    <!--OTHER FILES-->
    <script>
        $(function () {
            $('#requireJSHTML').load("../client/views/html/requirejs.html");
            $('#hudHTML').load("../client/views/html/hud.html");
            $("#windowHTML").load("../client/views/html/window.html");
        });
    </script>
    <link rel="stylesheet" type="text/css" href="../client/views/css/style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../../../website/assets/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../../../website/assets/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../../../../website/assets/apple-touch-icon.png">
    <link rel="manifest" href="../../../../../website/assets/site.webmanifest">

</head>

<body>

    <!--OTHER HTML PAGE-->
    <div id="windowHTML" style="display: none"></div>
    <div id="requireJSHTML" style="visibility: hidden"></div>
    <div id="hudHTML" class="canvas" style="display: none"></div>

    <!--LOADING OVERLAY-->
    <div id="overlay">
        <div id="progressbar"></div>
        <div id="progressstatus"></div>
    </div>

    <!--CANVAS-->
    <canvas id="mapCanvas" class="canvas" style="display: none"></canvas>
    <canvas id="avatarCanvas" class="canvas" style="display: none"></canvas>
</body>

</html>