<!--UPPER HUD-->
<div class="row mt-2 justify-content-between pl-1">
    <div class="d-flex flex-row col-12">
        <div class="d-flex flex-column" style="text-align: left;">
            <div id="time"></div>
            <div id="location"></div>
            <div id="group"></div>
            <div>
                <small id="fps" style="opacity: 0.5"></small>
                <small id="ping" style="opacity: 0.5"></small>
            </div>
        </div>
        <div class="d-flex flex-column ml-4">
            <form id="allchat" action="">
                <span><input id="allchatMessageInput" autocomplete="off" placeholder="" /></span>
                <button id="allchatEmojiTrigger">
                    <i class="fas fa-smile-beam navbarIcons"></i>
                </button>
                <button style="background-color: transparent" id="allchatSendButton">
                    <i class="fas fa-paper-plane navbarIcons"></i>
                </button>
            </form>
            <div style="position: relative; width: 0; height: 0; display: none; z-index: 1070"
                id="allchatEmojiPickerDiv">
                <div style="position: absolute;">
                    <emoji-picker class="dark" id="allchatEmojiPicker"></emoji-picker>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column ml-auto">
            <div class="achievementBox p-1 justify-content-center d-flex align-items-center text-center" style="z-index: 300" 
                data-toggle="tooltip" data-placement="bottom" id="points">
                <i class="fa fa-product-hunt navbarIcons"></i>
                <span class="navbarIconsText ml-1" id="pointBox">0</span>
            </div>
        </div>

        <div class="d-flex flex-column">
            <div class="achievementBox p-1 justify-content-center d-flex align-items-center text-center" style="z-index: 300" data-toggle="tooltip"
                data-placement="bottom" id="rank">
                <i class="fas fa-medal navbarIcons"></i>
                <span class="navbarIconsText ml-1" id="rankBox">0</span>
            </div>
        </div>

        <div class="d-flex flex-column ml-4">
            <div class="profileBox"
                style="border: 0.0625rem solid antiquewhite; border-top: none; border-radius: 0rem 0rem 0.3125rem 0.3125rem; height: 3.5rem; z-index: 300">
                <a class="action_button nav-item nav-link justify-content-center d-flex align-items-center" href="" onclick="" id="profileButton"
                    data-toggle="modal">
                    <i class="fa fa-user fa-2x navbarIcons"></i>
                    <span class="navbarIconsText ml-2" id="profilePlaceholder"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<!--MIDDLE HUD-->
<div class="row mt-2 justify-content-between pl-1">
    <div class="d-flex flex-row col-12">
        <div class="d-flex flex-column" style="width: 15.625rem;">
            <div style="z-index: 5">
                <a class="action_button nav-item nav-link p-0 showRoomChat" id="showRoomChatDiv" role="button"
                    onclick="" href="" style="float:left; text-align: left;"><span id="showRoomChat"></span>
                    <small>
                        (<span id="unreadAllchatMessage">0</span>)
                    </small>
                </a>
            </div>
            <div id="allchatWindow" style="z-index: 5;">
                <div class="py-2 d-flex" id="allchatHeader">
                    <div id="allchatHeaderText"></div>
                    <button id="allchatWindowMinimize" class="close btn ml-auto">
                        <i class="fa fa-window-minimize" style="transform: scale(0.6); margin-top: -0.3125rem;"></i>
                    </button>
                </div>
                <div id="allchatBox">
                    <small>
                        <div id="noAllchat" class="wrapword pb-1 pt-1" style="opacity: 0.5;"></div>
                    </small>
                    <div id="allchatMessages"></div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column ml-auto" style="align-items: center; width: 46.875rem">
            <div id="connectionStatus" style="display: none"></div>
        </div>

        <div class="d-flex flex-column ml-auto" style="width: 15.625rem;">
            <div style="z-index: 5">
                <a class="action_button nav-item nav-link p-1 showRoomChat" role="button" id="showNotifBar" onclick=""
                    href="" style="float:right; text-align: right;"><small><span id="showNotificationText"></span> (<span
                            id="unreadNotif"></span>)</small>
                </a>
                <a class="action_button nav-item nav-link p-1 showRoomChat" role="button" id="hideNotifBar" href=""
                    onclick="" style="float:right; text-align: right;"><small><span id="hideNotificationText"></span></small>
                </a>
            </div>
            <div id="notifBar" style="right: 0.9375rem; display: block; z-index: 5;"></div>
        </div>
    </div>
</div>

<!--LOWER HUD BUTTON-->
<div class="row justify-content-center pl-1">
    <div class="d-flex flex-row col-12" style="bottom:0; position: absolute">
        <div class="d-flex flex-column" style="z-index: 300;">
            <a class="action_button nav-item nav-link" href="" onclick=""
                id="rankListButton" data-toggle="modal">
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <i class="fa fa-globe fa-4x navbarIcons"></i>
                </div>
                <div class="d-flex flex-row justify-content-center align-items-center navbarIconsText">
                    <span id="ranklistText"></span>
                </div>
            </a>
        </div>
        <div class="d-flex flex-column" style="z-index: 300;">
            <a class="action_button nav-item nav-link align-items-center justify-content-center" href=""
                id="achievementListButton" onclick="" data-toggle="modal">
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <i class="fa fa-star fa-4x navbarIcons"></i>
                </div>
                <div class="d-flex flex-row align-items-center justify-content-center navbarIconsText">
                    <span id="achievementsText"></span>
                </div>
            </a>
        </div>
        <div class="d-flex flex-column" style="z-index: 300;">
            <a href="" onclick="" id="scheduleListButton" class="action_button nav-item nav-link" data-toggle="modal">
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <i class="fa fa-table fa-4x navbarIcons"></i>
                </div>
                <div class="d-flex flex-row justify-content-center align-items-center navbarIconsText">
                    <span id="scheduleText"></span>
                </div>
            </a>
        </div>
        <div class="d-flex flex-column" style="z-index: 300;">
            <a class="action_button nav-item nav-link" href="" id="meetingListButton" onclick=""
                data-toggle="modal">
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <i class="fas fa-video fa-4x navbarIcons"></i>
                </div>
                <div class="d-flex flex-row justify-content-center align-items-center navbarIconsText">
                    <span id="meetingsText"></span>
                </div>
            </a>
        </div>
        <div class="d-flex flex-column ml-auto" style="z-index: 300;">
            <a class="action_button nav-item nav-link" href="" id="friendListButton" onclick="" data-toggle="modal">
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <i class="fa fa-address-book-o fa-4x navbarIcons"></i>
                </div>
                <div class="d-flex flex-row justify-content-center align-items-center navbarIconsText">
                    <span id="friendListText"></span>
                </div>
            </a>
        </div>
        <div class="d-flex flex-column" style="z-index: 300;">
            <a class="action_button nav-item nav-link" href="" id="chatListButton" onclick="" data-toggle="modal">
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <i class="fa fa-comments-o fa-4x navbarIcons"></i>
                </div>
                <div class="d-flex flex-row justify-content-center align-items-center navbarIconsText">
                    <span id="chatsText"></span>
                </div>
            </a>
        </div>
        <div class="d-flex flex-column" style="z-index: 300;">
            <a id="nav_leave_button" class="action_button nav-item nav-link" href="/">
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <i class="fa fa-sign-out fa-4x navbarIcons"></i>
                </div>
                <div class="d-flex flex-row justify-content-center align-items-center navbarIconsText">
                    <span id="leaveText"></span>
                </div>
            </a>
        </div>
    </div>
</div>

