* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

input,
textarea {
     -moz-user-select: text;
}

#overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: black;
  z-index: 3;
  transition: 1s 0.4s;
}

#progressbar{
  height: 1px;
  background: white;
  position: absolute;
  width: 0;
  top: 50%;
}

#progressstatus{
  font-size: 0.7em;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 100%;
  text-align: center;
  color: white;
}
#mapCanvas {
position: absolute;
width: 1280px;
height: 640px;
top: 0;
left: 0;
pointer-events: none;
z-index: 0;
}

#avatarCanvas {
position: absolute;
width: 1280px;
height: 640px;
top: 0;
left: 0;
z-index: 1;
}

#uiCanvas {
position: absolute;
width: 1280px;
height: 640px;
top: 0;
pointer-events: none;
left: 0;
z-index: 2;
}

form {
position: absolute;
border-radius: 5px;
width: 200px;
height: 640px;
left: 1280px;
top: 0;
background: #000;
z-index: 0;
} 

form input {
position: relative;
border: none;
border-radius: 5px;
padding: 4px;
width: 160px;
height: 28px;
}

form button {
position: relative;
height: 32px;
width: 32px;
background: #000;
border: none;
color: #fff;
padding: 2px;
}

#allchatMessages {
position: absolute;
background: #000;
overflow-y: auto;
top: 36px;
left: 1280px;
width: 200px;
height: 444px;
margin: 0;
padding: 0;
z-index: 1;
}

#allchatMessages div {
background: #222;
color: #fff;
border-radius: 5px;
padding: 5px 10px;
}

.navbarIcons {
  color: antiquewhite;
}

.navbarIconsText {
  color: antiquewhite;
}

a:hover {
  text-decoration: none !important;
}

.icon-align {
vertical-align: middle;
}
