<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/header') %>

    <div class="container">
        <h1 style="margin-top: 20px; font-size:xx-large; text-align: center;">Edit Account Information</h1>
        <form action="saveAccountChanges" method="POST" style="max-width: 600px; margin: 0 auto; margin-top:20px">
            <hr />
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="inputForename">Forename</label>
                    <input type="text" class="form-control" id="inputForename" name="forename" value="<%=forename%>"
                        required>
                </div>
            </div>

            <hr />
            <input class="btn btn-block btn-submit" type="submit" value="Save changes"
                style="margin-bottom: 30px; "></button>
        </form>
    </div>
</body>

</html>