<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container">
		<%- include('partials/header') %>
        <section class="small-form-content row align-items-center justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-10" id="form">
                <h5 class="mb-4">Sign In</h5>
                <div class="row justify-content-left mb-3 m-0 p-0">
                    <% if(locals.wrongLoginData === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> The password or
                            the username you entered is wrong! Please try again.</small>
                    <% } else if (locals.fieldEmpty === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> Username or password cannot be empty.</small>
                    <% } %>
                </div>
                <form action="" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" id="usernameInput" name="username" placeholder="Username"
                            maxlength="10" required value="<%=username%>">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Password"
                            required>
                    </div>                    
                    <div class="row justify-content-center m-0 p-0">
                        <small>Don't have an account yet? <span><a class="link" href="/register"> Sign up now!</a></span></small>
                    </div>
                    <button class="primary-button mt-4 p-2" type="submit">
                        <span>Sign in</span>
                    </button>
                </form>
            </div>
        </section>
	</div>
    <%- include('partials/footer') %>
</body>

</html>