<!DOCTYPE html>
<html>

<head>
	<%- include('partials/head') %>
</head>

<body>
	<div class="container">
		<%- include('partials/header') %>
        <section class="content row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-12 col-sm-12 page-not-found">
                <div>
                    <i class="fa fa-robot fa-4x"></i>
                </div>
                <div class="mt-4">
                    <%=languageData.pageNotFound%>
                </div>
            </div>
        </section>
	</div>
	<%- include('partials/footer') %>
</body>

</html>