<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container">
        <%- include('partials/header') %>
            <section class="small-form-content row align-items-center justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8 col-10" id="form">
                    <h5>Sign Up</h5>
                    <br>
                    <div class="row justify-content-left m-0 p-0">
                        <% if (locals.usernameTaken===true) { %>
                            <small class="error"><i class="fa fa-times-circle"></i> The username
                                you entered is already taken</small>
                        <% } else if (locals.verifyDataFailed===true) { %>
                            <small class="error"><i class="fa fa-times-circle"></i> There's an
                                error while verifying the input data. Please try again.</small>
                        <% } else if (locals.invalidUsernameString===true) { %>
                            <small class="error"><i class="fa fa-times-circle"></i> The username
                                you entered doesn't match our criteria.</small>
                        <% } else if (locals.registerFailed===true) { %>
                            <small class="error"><i class="fa fa-times-circle"></i> There's an
                                error while registering your account. Please try again.</small>
                        <% } %>
                    </div>
                    <br>
                    <form action="register" method="POST">
                        <div class="form-row">
                            <div class="form-group col-6">
                                <input class="form-control" type="text" id="usernameInput" name="username"
                                    placeholder="Username" maxlength="10" required>
                            </div>

                            <div class="form-group col-6">
                                <input type="password" class="form-control" id="passwordInput" name="password"
                                    placeholder="Password" required autocomplete="new-password">
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="forenameInput" name="forename"
                                placeholder="Forename" required>
                        </div>

                        <div class="row justify-content-center m-0 p-0">
                            <small>Already have an account? <span><a class="link" href="/login"> Sign in
                                        now!</a></span></small>
                        </div>
                        <button class="primary-button mt-4 p-2" type="submit">
                            <span>Sign up now</span>
                        </button>
                    </form>
                </div>
            </section>
    </div>
    <%- include('partials/footer') %>

        <script>
            $('#usernameInput').tooltip({ 'trigger': 'focus', 'title': '2-10 characters containing only numbers, letters, and characters such as dash, underscore, or dot. No 2 characters in a row or any characters at the start or at the end.' });
        </script>
</body>

</html>