<!DOCTYPE html>
<html>

<head>
	<%- include('partials/head') %>
</head>

<body>
	<div class="container">
		<%- include('partials/header') %>
        <section class="row align-items-center justify-content-center" id="content">
            <div class="col-lg-6 col-md-12 col-sm-12 page-not-found">
                <div>
                    <i class="fa fa-tools fa-4x"></i>
                </div>
                <div class="mt-4">
                    Ups! This page is still under construction. Please come back again later!
                </div>
            </div>
        </section>
	</div>
	<%- include('partials/footer') %>
</body>

</html>