<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
    <script src="https://kit.fontawesome.com/f6c8522501.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('partials/header') %>

    <div class="container" id="uploaded">
        <h2 style="text-align: center; margin-top: 30px;">Create Lecture</h2>
        <form action="upload" method="POST" enctype="multipart/form-data" style="max-width: 600px; margin: 0 auto">
            <hr />
            <div class="form-group">
                <input type="text" class="form-control" id="titleInput" name="title" placeholder="Title" required>
            </div>
            <div class="form-group">
                <input type="number" step="1" class="form-control" id="maxParticipantsInput" name="maxParticipants"
                    placeholder="Max. Participants" required>
            </div>
            <div style="margin-bottom: 10px">
                <label for="startingTime">Starting time:</label>
                <input type="datetime-local" id="startingTimeInput" name="startingTime">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="remarksInput" name="remarks" placeholder="Remarks">
            </div>
            <div class="box__input">
                <label for="video">Video:</label>
                <input type="file" name="video" id="file" accept="video/mp4" />
            </div>
            <label style="margin-top: 0px; margin-bottom: 0px">Supported file: .mp4 || Max. size: 50 MB</label>
            <hr />
            <div class="row justify-content-left m-0 p-0">
                <% if(locals.noFilesUploaded === true) { %>
                <p style="font-size: small; color: red;"><i class="fa fa-times-circle wrongDataIcon"></i>No files were
                    uploaded. Please upload a video.</p>
                <% } else if (locals.fileSizeExceeded === true) { %>
                <p style="font-size: small; color: red;"><i class="fa fa-times-circle wrongDataIcon"></i>File size
                    exceeded 50 MB. Please try again.</p>
                <% } else if (locals.unsupportedFileType === true) { %>
                <p style="font-size: small; color: red;"><i class="fa fa-times-circle wrongDataIcon"></i>Unsupported
                    file type. Please upload only .mp4 file.</p>
                <% } else if (locals.notInt === true) { %>
                <p style="font-size: small; color: red;"><i class="fa fa-times-circle wrongDataIcon"></i>Max
                    participants must be an integer. Please try again.</p>
                <% } else if (locals.notDate === true) { %>
                <p style="font-size: small; color: red;"><i class="fa fa-times-circle wrongDataIcon"></i>Starting time
                    must be a valid date. Please try again.</p>
                <% } else if (locals.uploadFailed === true) { %>
                <p style="font-size: small; color: red;"><i class="fa fa-times-circle wrongDataIcon"></i>There's an
                    error while uploading the video. Please try again.</p>
                <% } else if (locals.createSlotFailed === true) { %>
                <p style="font-size: small; color: red;"><i class="fa fa-times-circle wrongDataIcon"></i>There's an
                    error while creating the slot. Please try again.</p>
                <% } else if (locals.uploading === true) { %>
                    <p style="font-size: small;"><i class="fa fa-check-circle"></i> Lecture slot is successfully created. You may exit this page.</p>
                <% } %>
            </div>
            <input class="btn btn-block btn-submit" type="submit" value="Create lecture and upload video"
                style="margin-bottom: 30px; "></button>
        </form>
    </div>
</body>

</html>