<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container">
		<%- include('partials/header') %>
        <section class="row align-items-center justify-content-center" id="upload-content">
            <div class="col-lg-4 col-md-6 col-sm-8 col-10" id="form">
                <h5>Create Lecture</h5>
                <br>
                <div class="row justify-content-left m-0 p-0">
                    <% if(locals.noFilesUploaded === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> No files were
                            uploaded. Please upload a video.</small>
                    <% } else if (locals.fileSizeExceeded === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> File size
                            exceeded 50 MB.</small>
                    <% } else if (locals.unsupportedFileType === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> Unsupported
                            file type.</small>
                    <% } else if (locals.notInt === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> Max
                            participants must be an integer.</small>
                    <% } else if (locals.notDate === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> Starting time
                            must be a valid date.</small>
                    <% } else if (locals.uploadFailed === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> There's an
                            error while uploading the video. Please try again.</small>
                    <% } else if (locals.createSlotFailed === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> There's an
                            error while creating the slot. Please try again.</small>
                    <% } else if (locals.uploading === true) { %>
                        <small class="success"><i class="fa fa-check-circle"></i> Lecture slot is successfully created. You may exit this page.</small>
                    <% } %>
                </div>
                <br>
                <form action="upload" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" id="titleInput" name="title" placeholder="Title"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="startingTime" class="mt-2 input-label">Starting time:</label>
                        <input type="datetime-local" class="form-control" id="startingTimeInput"
                            name="startingTime" />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-8">
                            <input type="text" class="form-control" id="remarksInput" name="remarks"
                                placeholder="Remarks">
                        </div>
                        <div class="form-group col-4">
                            <input type="number" step="1" class="form-control" id="maxParticipantsInput"
                                name="maxParticipants" placeholder="# Participants" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="video" class="mt-2 input-label">Video: </label>
                        <input type="file" class="form-control" name="video" id="file" accept="video/mp4" />
                    </div>
                    <label for="video" class="input-label mt-1 mb-0">Supported file: .mp4 || Max. size: 50 MB</label>
                    <button class="primary-button mt-4 p-2" type="submit">
                        <span>Create lecture</span>
                    </button>
                </form>
            </div>
        </section>
	</div>
    <%- include('partials/footer') %>
</body>

</html>