<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head') %>
</head>
<body>
	<%- include('partials/header') %>
		<canvas id="gameCanvas" width="600" height="300">
			<p>Unfortunately your browser is not supporting this web page.</p>
		</canvas>
</body>
</html>
