<!DOCTYPE html>
<html>
	<head>
		<%- include('partials/head') %>        
    </head>
    <body>
        <%- include('partials/header') %>
            <div class="container" id="register">
            <div class="row mt-5">
            <div class="col-md-6 offset-md-3 align-self-center">
        <form action="register" method="POST">
            <div class="form-group">

                <input type="text" class="form-control" id="usernameInput" name="username" placeholder="Username (max. 10 chars)" maxlength="10" required>
            </div>
            <div class="form-group">

                <input type="email" class="form-control" id="emailInput" name="email" placeholder="Email" required>
            </div>
            <!-- TODO: POST, check if username and email valid with AccountService functions, return /registerValid if true-->
            <input class="btn btn-block btn-submit" type="submit" value="Verify"></button>
        </form>
        <a class="btn btn-block btn-submit" type="submit" href="/registerValid">Go to Valid Registration Page</a>
    </div>
    </div>
        </div>
    </body>
</html>