<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <title>Register Valid</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="website/views/style.css">
        <link rel="icon" type="image/png" sizes="16x16" href="website/assets/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="website/assets/favicon-32x32.png">
        <link rel="apple-touch-icon" sizes="180x180" href="website/assets/apple-touch-icon.png">
        <link rel="manifest" href="website/assets/site.webmanifest">
        
        </head>
        <body>
            <div id="header" class="headerBG clearfix" role="banner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div id="logo" class="headerBG">
                                <a href="/">
                                    <img id="logoimg" src="website/assets/vimsu_banner.png" type="image/png" alt="Vimsu Logo" style="width:79px;height:119px;">
                                </a>
                            </div>
                            <div id="signature">
                                <div id="site-name">
                                    <a href="/">
                                        <div class="site-name-child">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <nav class="navbar navbar-expand-sm navbar-light bg-custom">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <div class="d-flex justify-content-around flex-row">

                            <a class="p-2 mr-5 action_button nav-item nav-link navbar-brand" href="/login">
                                <div class="octicons octicon octicon-sign-out">
                                    <p id="octicon_text">
                                Log in	
                                </p>
                                </div>
                            </a>
                            <a class="p-2 ml-5 mr-5 action_button nav-item nav-link navbar-brand" href="/register">
                                <div class="octicons octicon octicon-pencil">
                                    <p id="octicon_text">
                                Register	
                                </p>
                                </div>
                            </a>
                        </div>
                        
                    </div>
                 
                </div>
            </nav>
            <div class="container" id="registerValid">
            <div class="row mt-5">
            <div class="col-md-8 offset-md-2 align-self-center">
        <form action="auth" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="staticUsername" class="col-form-label">Username</label>
                    <!-- TODO: placeholder should be the value entered in /register-->
                    <input class="form-control" type="text" placeholder="mustermann123" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label for="staticEmail" class="col-form-label">Email</label>
                    <!-- TODO: placeholder should be the value entered in /register-->
                    <input class="form-control" type="text" placeholder="email@example.com" readonly>
                </div>
            </div>    
                  
            <div class="form-group">
                <input type="password" class="form-control" id="passwordInput" placeholder="Password" required>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-2">
                    <select class="form-control" id="title" required>
                        <option selected>Title</option>
                        <option>Mr.</option>
                        <option>Mrs.</option>
                        <option>Ms.</option>
                        <option>Miss</option>
                        <option>Dr.</option>
                        <option>Prof.</option>
                        <option>Rev.</option>
                      </select>
                  </select>
                </div>
                <div class="form-group col-md-5">
                    <input type="text" class="form-control" id="inputSurname" placeholder="Surname" required>
                </div>
                <div class="form-group col-md-5">
                  <input type="text" class="form-control" id="inputForename" placeholder="Forename" required>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="inputJob" placeholder="Job" required>
                  </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" id="inputCompany" placeholder="Company" required>
                </div>
            </div>
            <input class="btn btn-block btn-submit" type="submit" value="Register now"></button>
        </form>
    </div>
    </div>
        </div>
    </body>
</html>